[submodule "src/ArchIE"]
	path = src/ArchIE
	url = https://github.com/sriramlab/ArchIE
[submodule "src/sprime"]
	path = src/sprime
	url = https://github.com/browning-lab/sprime
[submodule "src/idetect"]
	path = src/idetect
	url = https://github.com/LauritsSkov/Introgression-detection
[submodule "src/moments"]
	path = src/moments
	url = https://bitbucket.org/simongravel/moments.git
[submodule "src/villanea"]
	path = src/villanea
	url = https://github.com/Villanea/Neanderthal_admix
[submodule "src/stdpopsim"]
	path = src/stdpopsim
	url = https://github.com/popgensims/stdpopsim
[submodule "src/msmc2"]
	path = src/msmc2
	url = https://github.com/stschiff/msmc2
